.carr {
    position: relative;
    display: flex;
    flex-direction: row;
}

.Slider {
    height: 100px;
}

.Slider-title {
    font-size: 1.6em;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}