.navBar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: flex-end;
    position: relative;

}

a {
    text-decoration: none;
}

.navBar ul li {

    padding: .2em;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
}